ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.a-hover {
    color: white;
}

.a-hover:hover {
    color: #eb3e32;
}

.text-mine {
    color: black;
}

.text-mine:hover {
    color: #eb3e32
}
  
